<div class="flex py-10 px-20 flex-wrap">
  <%= render @projects %>
  <%= link_to 'New project', new_project_path, class: 'text-center py-32 text-2xl text-gray-600 px-16 w-80 block bg-gray-50 hover:bg-gray-100 shadow rounded mb-20 mr-10' %>
</div>
