<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="emails">
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
